@page
@using Book_Tracking_Application_Models
@model Book_Tracking_Application_App.Pages.AddCategoryModel
@{
}


<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-10">
                        <h4 class="card-title">Categories</h4>
                    </div>
                    <div class="col-md-2 float-right">
                        <button type="button" class="btn btn-outline-success" id="addNewCategoryBtn" onclick="showNewCategoryModal()">
                            Add New
                        </button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <table class="table table-condensed table-striped table-hover">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name Token</th>
                            <th scope="col">Description</th>
                            <th scope="col">Type</th>
                            <th scope="col">#</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (Category item in Model.Categories)
                        {
                        <tr>
                            <th></th>
                            <td>@item.NameToken</td>
                            <td>@item.Description</td>
                            <td>@item.Type</td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<br />

<div class="row hidden" id="addNewCategory">
<div class="col-md-12">
    <div class="card">
        <div class="card-header text-white bg-success">
            <h5 class="card-title">New Category</h5>
        </div>
        <div class="card-body">
            <form method="post">
                <div class="mb-4">
                    <label class="form-label" for="nameToken">Name Token</label>
                    <input class="form-control" asp-for="category.NameToken" type="text" id="nameToken" />
                </div>
                <div class="mb-2">
                    <label class="form-label" for="description">Description</label>
                    <input class="form-control" asp-for="category.Description" type="text" id="description" />
                </div>
                <div class="mb-4">
                </div>
                <div class="mb-4">
                    <span class="text-danger" asp-validation-for="categoryType.Type"></span>
                    <label asp-for="categoryType.Type"></label>
                    <select asp-for="categoryType.Type" asp-items="@Model.CategorySelectionItems">
                        <option value="">--- Pick a Category Type--</option>
                    </select>
                </div>
                <div>
                    <button type="submit" class="btn btn-success">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>
</div>

<script>$(document).ready(function () {
        $("#addNewCategory").addClass('hidden');
    });
    function showNewCategoryModal() {
        $("#addNewCategory").removeClass('hidden');
    }</script>
